:global {
  .tall___3knfw {
    background: white !important;
  }
  .login {
    max-width: 450px;
    margin: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 30px;
    position: relative;
    top: 30%;
    background: #fff;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .register {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background: #ffffff;
    .ant-form-item {
      margin-bottom: 10px;
      .ant-form-item-label {
        line-height: 20px;
      }
    }
  }
}
