:global {
  .header-title {
    font-size: 16px;
    line-height: 60px;
    padding-left: 20px;
    background: #fff;
    margin: 15px 0 0 0;
    box-shadow: 0 0px 1px #dddddd;
  }

  .editBtn {
    color: #40a9ff;
  }
  .editBtn:hover {
    color: #232741;
  }
  .deleteBtn {
    color: red;
  }
  .deleteBtn:hover {
    color: darkred;
  }

  .addBtn {
    position: absolute;
    right: 15px;
    top: -45px;
    font-size: 12px;
    color: #40a9ff;
    border-color: #40a9ff;
  }

  .addBtn:active {
    color: #40a9ff;
  }

  .addBtn:focus {
    color: #40a9ff;
  }
  .addBtn:hover {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
  }

  /*模态框*/
  .modal {
    .input {
      display: flex;
      justify-content: flex-start;
      .title {
        width: 100px;
        line-height: 33px;
      }
    }
  }

  /*Table*/
  .manageTable {
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 1px 1px #dddddd;

    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
      padding: 10px;
    }
  }
}
